.blogBackground{
    background-image: url('../../../public/images/pizza-blog.jpg');
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 425px) {
    .blogBackground{
        height: 20rem;
    }
}